body {
  background-color: #60d9f1;
  background-image: url("leonb.jpg");
  background-attachment: fixed;
  background-size: 100vw;
  background-size:cover;

}

.container {
  display:flex;
  text-align:center;
  flex-direction: column;

}

h1 {
  color:white;
  font-size:65px;
  line-height:5px;
  font-family: 'News Cycle', sans-serif;
}

h3 {
  font-family: 'Homemade Apple', cursive;
  margin-bottom: 20px;
  font-size: 22px
}

.player {

}

.music-player {

}

.search {

}

.searchBarContainer {
  display:flex;

}
.searchBar {
  font-family: 'Homemade Apple', cursive;
  font-size: 18px;
  width: 500px;
  margin-left:400px;
}




input { width: 400px;
  height: 30px;
}

.inputBar {
  font-family: 'Homemade Apple', cursive;
  font-size:25px;


}
#button {
  font-family: 'Homemade Apple', cursive;
  font-size: 18px;
  width: 100px;
  height:30px;

}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top:50px;

}

.songCard {
  margin: 50px 50px 50px 50px;
  border: 2px solid rgb(171, 128, 0);
  padding: 50px 50px 50px 50px;
  color: rgb(252, 48, 3);
  background-image: url("lbr.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 25px;
  width: 225px;
  height: 275px;

}

.pics {
  width: 120px;
  height: 120px;
  margin-bottom: 0px;
}

.name {
  font-size: 25px;
margin-top:5px;
line-height: 50px;
font-weight: bold;


}

.track {
  font-weight: bold;
  font-family: 'Homemade Apple', cursive;
  font-size: 20px
}
